<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ STATIC_URL }}/static/schedule.css"/>
    </head>

    <body>

    <div class="header"></div>

    <div class="schedule">
        <h1>Training schedule</h1>
        <div class="new-week">Add new training week </div>
        <table>
            <tr>
                <th>
                    <h3>Monday</h3>
                    <div>Custom</div>
                </th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
        </table>
    </div>

    <div class="generic-detail">
        <h2>Detail of training week</h2>

    </div>
    </body>
</html>
